Repository HintMachine/hintMachine, pull requests merged in 2023-10, with the labels that each got.

#18 New Game: Meteos
  HintMachine/Games/INintendoDSConnector.cs
  HintMachine/Games/MeteosConnector.cs
  HintMachine/Globals.cs
  HintMachine/HintMachine.csproj
  README.md
Labels: new game

#23 Metroid Prime Pinball: New Game
  HintMachine/Assets/covers/metroid_prime_pinball.png
  HintMachine/Games/MetroidPrimePinballConnector.cs
  HintMachine/Globals.cs
  HintMachine/HintMachine.csproj
  README.md
Labels: new game

#26 New Game: Mini Metro
  HintMachine/Assets/covers/mini_metro.png
  HintMachine/Games/MiniMetroConnector.cs
  HintMachine/Globals.cs
  HintMachine/HintMachine.csproj
  README.md
Labels: new game

#19 New Game: Luck be a Landlord
  HintMachine/Assets/covers/luck_be_a_landord.png
  HintMachine/Games/LuckBeALandlordConnector.cs
  HintMachine/Globals.cs
  HintMachine/HintMachine.csproj
  README.md
Labels: new game

#63 Check update available
  HintMachine/App.config
  HintMachine/LoginWindow.xaml.cs
Labels: enhancement

#53 New Game: Papers, Please
  HintMachine/Assets/covers/papers_please.png
  HintMachine/Games/PapersPleaseConnector.cs
  HintMachine/Globals.cs
  HintMachine/HintMachine.csproj
  README.md
Labels: new game

#65 New Game: Nex machina
  HintMachine/Assets/covers/nexmachina.png
  HintMachine/Games/NexMachinaConnector.cs
  HintMachine/Globals.cs
  HintMachine/HintMachine.csproj
  README.md
Labels: new game

#64 Check update advanced
  HintMachine/HintMachine.csproj
  HintMachine/LoginWindow.xaml.cs
  HintMachine/MainWindow.xaml
  HintMachine/MainWindow.xaml.cs
  HintMachine/Settings.cs
  HintMachine/UpdateAvailablePopUp.xaml
  HintMachine/UpdateAvailablePopUp.xaml.cs
Labels: enhancement

#68 New Game: Paint the Town Red
  HintMachine/Assets/covers/paint_the_town_red.png
  HintMachine/HintMachine.csproj
  HintMachine/Models/Games/PaintTheTownRedConnector.cs
  HintMachine/Models/Globals.cs
  README.md
Labels: new game

#52 New game: Super Monkey Ball
  HintMachine/Assets/covers/super_monkey_ball.png
  HintMachine/HintMachine.csproj
  HintMachine/Models/Games/SuperMonkeyBallConnector.cs
  HintMachine/Models/Globals.cs
  README.md
Labels: new game

#72 New Games: Peggle Deluxe, Peggle Nights
  HintMachine/Assets/covers/peggle_deluxe.png
  HintMachine/Assets/covers/peggle_nights.png
  HintMachine/HintMachine.csproj
  HintMachine/Models/Games/PeggleDeluxeConnector.cs
  HintMachine/Models/Games/PeggleNightsConnector.cs
  HintMachine/Models/Globals.cs
  README.md
Labels: new game

#71 Introduced first ViewModel for the GameSelectionWindow
  HintMachine/App.config
  HintMachine/HintMachine.csproj
  HintMachine/ViewModels/GameSelectionViewModel.cs
  HintMachine/ViewModels/Interfaces/ICloseableViewModel.cs
  HintMachine/Views/Converters/CoverFullPathConverter.cs
  HintMachine/Views/GameSelectionWindow.xaml
  HintMachine/Views/GameSelectionWindow.xaml.cs
  HintMachine/Views/MainWindow.xaml.cs
  HintMachine/packages.config
Labels: enhancement

#80 Post Game Update Fix: TMNT Shredder's Revenge
  HintMachine/Models/Games/TMNTShreddersRevengeConnector.cs
Labels: bug, game update

#79 Post Game Update Fix + Expansion: Tony Hawk's Pro Skater 1 + 2
  HintMachine/Models/Games/TonyHawksProSkater12Connector.cs
  HintMachine/Models/ProcessRamWatcher.cs
Labels: bug, game update

#75 Initial Implement of Super Mario Bros. 3
  HintMachine/Assets/covers/super_mario_bros_3.png
  HintMachine/HintMachine.csproj
  HintMachine/Models/Games/SuperMarioBros3Connector.cs
  HintMachine/Models/Globals.cs
  README.md
Labels: new game

#89 Add HintsViewModel
  HintMachine/Models/HintDetails.cs
  HintMachine/ViewModels/HintsViewModel.cs
  HintMachine/Views/HintsView.xaml
  HintMachine/Views/HintsView.xaml.cs
  HintMachine/Views/MainWindow.xaml.cs
Labels: enhancement

#86 New Game: Sonic Mania
  HintMachine/Assets/covers/sonic_mania.png
  HintMachine/HintMachine.csproj
  HintMachine/Models/Games/SonicManiaConnector.cs
  README.md
Labels: new game
